.carousel {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}
.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    height: 300px;
    display: none;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    display: flex;
}